<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NativeArt About</title>
  <style media="screen">
    .footer {
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
  {% include "ecom/customer_navbar.html" %}
  {%else%}
  {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
  <h3 style="text-align:center;">Handmade Pottery

    Ethnic Jewelry Our jewelry is made from a variety of materials, including beads and metals, and reflects the rich cultural heritage of local communities.
    
    Handloom Fabric Our fabrics are made using traditional weaving techniques and dyed using natural colors, providing unique and durable products <br>
    
    Our shoes are crafted by skilled shoemakers using traditional techniques and high-quality materials, ensuring both comfort and style.
   <br> 
    Handmade Shoes Our pottery is made from high-quality materials and crafted using traditional methods by skilled artisans.
    </h3>
    <p>We are committed to showcasing and selling unique, handcrafted products made by artisans and skilled workers. Our goal is to uplift these hardworking individuals by providing them a platform to sell their products and earn a sustainable income.</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>